.git
.gitignore
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

data_storage
logs
deploy/data
deploy/logs
deploy/certs
deploy/config/server.env
kernel_meta
tmp_hmog
testtest

tests
docs
*.md

node_modules
dist
build
